<!DOCTYPE html>
<html>
<head>
  <title>RailsTodo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  <h1>Todo List</h1>
  <a href="/todos">Full Todo List</a>
  <a href='/todos/new'>New Todo List</a>
  <a href='todos/:id'>Todo</a>
  </header>
<%= yield %>
</body>
</html>
